<div class="card">
  <img src="https://placeimg.com/640/480/any" class="card-img-top" alt="placeimgimage">
  <div class="card-body">
    <h5 class="card-title">{{movieItem.name}}</h5>
    <p class="card-text">{{movieItem.description}}</p>
    <p class="text-mutted">Votes: {{movieItem.votes}}</p>
    <a href="#" (click)="voteUp()"> <i class="material-icons md-18">thumb_up</i> </a>
    <a href="#" (click)="voteDown()"> <i class="material-icons md-18">thumb_down</i> </a>
  </div>
</div>
